@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --secondary: 0 0% 96.1%;
    --accent: 0 0% 96.1%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --accent: 0 0% 14.9%;
  }
} */

@layer base {
  * {
    /* @apply border-gray-200; */
  }
  body {
    /* @apply bg-background text-foreground; */
    font-family: Arial, Helvetica, sans-serif;
  }
}
